<div class="dashboard-wrapper" style="padding: 2rem;">
  <h2>Dashboard Principal - Control Financiero</h2>
  
  <!-- Evaluamos el Observable asíncrono y lo pasamos tipado a la tabla estricta -->
  <ng-container *ngIf="propiedades$ | async as propiedades">
    <!-- El Dumb Component expulsa el evento (onCobrar) y el Smart Component lo atrapa -->
    <app-table 
      [data]="propiedades" 
      [columnas]="tableColumns"
      [totalPaginas]="1"
      [totalItems]="propiedades.length"
      [page]="1"
      [loading]="isLoading"
      (onCobrar)="abrirModalCobro($event)">
    </app-table>
  </ng-container>
</div>
